html,body{
    height: 100%;
    overflow: hidden;
    /*overflow-x: auto;*/
}
.pull-left{
    width: 300px;
    padding-left: 10px;
}
.form-control {
    display: block;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control {
    height: 30px;
    border-radius: 0%;
    padding-left: 6px;
    font-size: 13px;
    background: #ffffff;
    display: block;
    box-shadow: inset 0px 1px 0px #F1F0F1;
}
.form-control:focus {
    background: #f7f7f7;
    border-color: #BDC4C9;
    box-shadow: none;
    border-top: 1px solid #B7B7B7;
}
.cl:after,.clearfix:after{content:'';display:block;height:0;clear:both;visibility:hidden}.cl,.clearfix{zoom:1}
ul{
    padding-left: 0;
    list-style: none;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.form-actions-body{
    padding: 0 15px;
}
.pull-right{
    position: absolute;
    right: 20px;
    top: 0px;
}

/*新上传图片及相册选择图片*/
.plus-album{ position: relative; z-index: 1;color: #777;}
.plus-album .item-list-tabs{ background:#fff}
.plus-album .item-list-tabs .active{ background:#F5F5F5}
.plus-album .item-list-tabs .active a{ font-weight:700; font-size:14px; margin-top:-2px}
.itme-panel{min-height: 280px; width: 840px; overflow: hidden; }
.tree-wrap{position:absolute; margin-left: 10px; border: solid 1px #C1C1C1; background-color: #FFF; width:180px; height: 268px; overflow: hidden; z-index:2}
.tree-wrap .tree-title{margin: 5px; text-align:left; line-height: 18px;}
.tree-wrap .tree-panel{ max-height:240px; text-align: left; padding: 5px 10px; line-height:18px; overflow-y:auto;}
/*上传图片*/
.upload-container{margin-left: 18px; margin-right: 10px; min-height: 300px;}
.upload-container .upload-title { text-align: right; margin-bottom: 10px; margin-top: 5px; line-height: 26px;}
.upload-container .upload-title .tree-wrap{position: absolute;top: 87px;right: 10px;}
.upload-container-inside { border: 1px dashed #D7D7D7; background: #fff; height: 250px; position: relative; padding-top: 20px; text-align: center; overflow-y: auto;}
.upload-container-inside .upload-icon i.fa{ font-size:68px; color:#C9C9C9}
.upload-container-inside .file-attach-1{ float:none; margin:auto; width:200px; margin-bottom:10px;}
.upload-container-inside p{ line-height:28px;}
/*相册图片选择*/
.pic-container{margin-left: 200px; width: 640px; overflow: hidden; padding-right: 10px;}
/*.search-container{position: relative; overflow: hidden; text-align: left; padding-bottom: 7px; border-bottom: 1px solid #C1C1C1;}*/


.search-container{position: relative;  text-align: left; padding-bottom: 7px; border-bottom: 1px solid #C1C1C1;}



.search-container .mod-category{display: block; float: left;}
.search-container .mod-pagination{display: block; width: 57px; height: 26px; position: absolute; z-index: 1; top: 0; right: 0;}
.search-container .mod-category a,.search-container .mod-pagination a { position: relative; z-index: 1; display: block; float: left; width: 26px; height: 26px; padding: 2px; text-align: center; line-height: 20px; background-color: #FFF; border: solid 1px #C9C9C9; box-shadow: inset 1px 2px 1px rgba(0,0,0,0.05); color: #767676;}
.search-container .mod-category a i,.search-container .mod-pagination a i{ margin:auto;}
.search-container .mod-category a:last-child,.search-container .mod-pagination a:last-child{ margin-left:-1px;}
.search-container .mod-category a.selected { background-color: #D7D7D7; box-shadow: none; }
.search-container .mod-pagination a.disabled{border-color: #E4E4E4; color: #E4E4E4; cursor:not-allowed}
.search-result {width: 640px; overflow: hidden;}
.mod-img{display: inline-block;background: #fff; position: relative; top:0px !important; bottom:0px; width: 70px; height: 70px; margin-right:5px; margin-top: 5px; border: 1px solid #ddd; font-size: 0; cursor: pointer;}
.mod-img a { display: table-cell; position:relative; overflow: hidden; width: 70px; height: 70px; text-align: center; vertical-align: middle; font-size: 12px; }
.mod-img i.fa { display: none; position: absolute; cursor:pointer; right: -6px; top: -6px; width: 16px; height: 16px; text-align: center; margin: 0; font-size: 18px; color:red; line-height: 16px;}
.mod-img.selected i.fa{ display:block}
.mod-img a img{ max-width:100%; max-height:100%; vertical-align: middle; margin-top: -1px;}
.mod-img a span.pixel{position: absolute; left: 0; bottom: -1px; width: 100%;height:20px; padding: 2px 0; text-overflow: ellipsis;background-color: rgba(0,0,0,.5);color: #FFF;transition: bottom .2s ease-out; overflow: hidden;}
.mod-img a span.file-preview{display: none; position: absolute; z-index: 9; left: 28px; top: 6px; width: 100px; background: #fff; border: 1px solid #ddd; padding: 2px;}
.mod-img a span.file-preview img{max-width: 100%; max-height: 100%; vertical-align: middle;}
.mod-img:hover a span.pixel{bottom:-24px; transition: bottom .2s ease-out;}
.mod-img.seat{ border: 1px dashed #ccc;}
.mod-img.seat .seat-icon{font-size: 36px; line-height: 24px; width: 30px; height: 30px; display: block; margin: auto; color: #aaa;}
.mod-img.ui-sortable-handle a{ cursor:move}
.selected-pic-container {  text-align: left; border-bottom: 1px solid #C1C1C1;z-index: 1; position: relative;}
.selected-pic-container .selected-pic-title {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    border: 1px solid #C1C1C1;
    border-width: 1px 0;
    background: #FFF;
    color: #666;
}
.selected-pic-container .selected-pic-title span.num{ margin:0 5px;}
.mod-selected { padding: 5px 10px; width:100%; overflow:hidden; height: 80px; background-color: #F2F2F2; }
.mod-selected .ui-sortable { margin: 0; overflow-y: hidden; overflow-x: auto; white-space: nowrap; position:relative;}
.mod-selected .mod-img:hover i.fa { display: block;}
.mod-list-title{border: solid #CCC; border-width: 0 1px 1px; border-style:solid; background: #FFF; display:none; width: 100%; height: 32px;line-height: 32px; overflow: visible;}
.pic-container.list .mod-list-title{ display:block}
.pic-container.list .mod-list-title span{ display: inline-block; margin-left: 2%; text-overflow: ellipsis; white-space: nowrap;overflow: hidden; float: left; line-height: 32px; font-size: 12px; }
.pic-container.list span.file-name { display: inline-block;  width: 61%; margin-left: 2%; font-size: 12px;}
.pic-container.list span.file-size { display: inline-block; margin-left: 4%; width: 15%; font-size: 12px;}
.pic-container.list .search-result { width: 630px; max-height: 238px; overflow-x: hidden; overflow-y: auto; background-color: #FFF;border: 1px solid #ccc; border-top: 0;}
.pic-container.list .mod-img { display: block; width: 100%; height: 32px; line-height: 32px; margin: 0; border: 0; border-bottom: 1px solid #ddd; overflow: visible;}
.pic-container.list .mod-img a { width: 25px; height: 25px; float: left; position: relative; color: #333; margin-left: 12px; text-decoration: none; overflow: visible; border:1px solid #ddd; margin-top:3px; cursor:pointer;}
.pic-container.list .mod-img a img{ vertical-align:top;}
.pic-container.list .mod-img span.pixel{ display:none; transition: bottom .2s ease-out;}
.pic-container.list .mod-img a:hover span.file-preview{ display:block}
.pic-container.list .mod-img span.file-size{ margin-left:35px;}
.pic-container.list .mod-img i.fa {left: 558px;  right: 0;}
/*相册图片选择2*/
.category-list-region { float: left; width: 160px; height: 325px; padding: 5px 0 0; background:#DDF1FD; overflow: hidden; overflow-y: auto;}
.category-list-region .category-list{ height:auto;padding-left: 0}
.category-list-region li { position: relative; height: 40px;  color:#555; line-height: 40px; padding: 0 0px 0 15px; cursor: pointer; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.category-list-region li.selected { background: #fff; color: #000;}
.category-list-region li span { position: absolute;right: 10px; top: 0px;color: #777;}
.category-list-region li:hover { background: #fafafa;}

.attachment-list-region {height: 90%;background:#fff;position: relative;padding-bottom: 30px;}
.attachment-list-region .image-list {
    width: 100%;
    margin-left: -5px;
    padding-top: 5px;
    overflow: auto;
    position: absolute;
    top: 40px;
    bottom: 10px;
    left: 0;
}
.attachment-list-region .page-box{
    border-top: 1px solid rgb(193, 193, 193);
    margin-right: 0;
    /*padding-right: 5px;*/
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
}
.attachment-list-region .attachment-box{height: 80%;}
.attachment-list-region .attachment-box .no-data{line-height: 300px; text-align: center}
.attachment-list-region .attachment-box .no-data i.fa{ color:#58B4FF}
.attachment-box .image-list .image-item { position: relative; float: left; width: 90px; height: 90px; border: 1px solid #ddd; margin-left: 13px;margin-bottom: 30px; cursor: pointer;}
.attachment-box .image-list .image-box {background: #ccc;width: 100%;height: 100%;background-size: cover;background-position: 50% 50%;}
.attachment-box .image-list .image-meta {
    position: absolute;
    width: 100%;
    height: 25px; line-height: 25px;
    color: #fff;
    text-align: center;
    background: rgba(0,0,0,0.2);
    bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.attachment-box .image-list .image-title {
    display: block;
    padding: 0 14px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid #ddd;

}
.attachment-selected {
    position: absolute;
    top: -1px;
    left:-1px;
    width: 91px;
    height:91px;
    border: 2px solid #1B9AF7;
    visibility:hidden;
    background-color: rgba(0, 0, 0, 0.42);
}
/*.attachment-selected::after { position: absolute; display: block;  content: ' '; right: 0; bottom: 0; border: 14px solid #1B9AF7; border-left-color: transparent; border-top-color: transparent; z-index: 1;}*/
.attachment-selected i {    position: absolute;right: -3px;bottom: 0px;z-index: 2;color: #fff;margin: 1px;}
.attachment-box .image-list .image-item.selected .attachment-selected{ visibility:visible; opacity:1}

.page-content{
    padding: 0 !important;
}

.middle{
    background: #fff;
    top: 0;
    width: 100%;
    /*overflow: auto;*/
    position: absolute;
    z-index: 10;
    bottom: 171px;
}
.category-list-region{
    overflow: auto;
    height: 100%;
}
.attachment-list-region{
    margin-left: 160px;
    padding: 0;
    height: 100%;
}
.search-container{
    position: relative;
    height: 45px;
    display: table;
    width: 100%;
    padding-bottom: 0;
}
.search-container .search-container-row {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 77%;
    margin: auto;
}
.footer{
    height: 172px;
    /*line-height:50px;*/
    /*background: #000000;*/
    width: 100%;
    position: absolute;
    z-index: 200;
    bottom: 0;
    text-align: center;
}
.footer-btn{
    line-height: 50px;
}


.no-data{
    color: red;
}

.search-container #pull-left {
    display: table-cell;
    vertical-align: middle;
}
.webuploader-pick{
    padding: 0 5px !important;
    height: 35px!important;
    line-height: 35px!important;
}
.webuploader-container label{
    margin: 0 !important;
}
#progress_bar_main  {
    position: absolute;
    z-index: 1;
    bottom: -60px;
    right: 10px;
    background: #FFF;
    border-radius: 8px !important;
    box-shadow: 0px 0px 10px #B1ADAD;
}
.triangle-up:before{
    position: absolute;
    top: -8px;
    right: 9px;
    left: auto;
    display: inline-block!important;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    content: '';
}

#progress_bar_main .progress-bars {
    border: 1px solid #1483d8;
    width: 198px;
    background: #fff;
    height: 18px;
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: #6dbfff;
    position: relative;
    margin: 15px;
}
#progress_bar_main  .progress-bars span.percentage {
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background: #1483d8;
    position: absolute;
}

#progress_bar_main span.progress-bar-value{
    position: relative;
    z-index: 10;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute ;
    z-index: -1;
}
.inputfile + label {
    cursor: pointer;
}

.pagination{
    float: right;
    padding-right: 10px;
}
.ivu-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 6px 15px;
    font-size: 12px;
    border-radius: 4px;
    transition: color .2s linear,background-color .2s linear,border .2s linear,box-shadow .2s linear;
    color: #495060;
    background-color: #f7f7f7;
    border-color: #dddee1
}

.ivu-btn,.ivu-btn:active,.ivu-btn:focus {
    outline: 0
}

.ivu-btn:not([disabled]):hover {
    text-decoration: none
}

.ivu-btn:not([disabled]):active {
    outline: 0
}

.ivu-btn.disabled,.ivu-btn[disabled] {
    cursor: not-allowed
}

.ivu-btn.disabled>*,.ivu-btn[disabled]>* {
    pointer-events: none
}

.ivu-btn-large {
    padding: 6px 15px 7px;
    font-size: 14px;
    border-radius: 4px
}
.btn-row{
    margin-right: 20px;
}
.blue{
    background-color: #42aaff;
    color: #fff;
}


/*文件上传容器样式*/
.upload-wrap {
    margin:0 auto;
    overflow: hidden;  /*清除浮动，以及隐藏向左移动出去的部分*/
}

.upload-tips-content {
    float: left;
    margin-left: -70px;
}
.tips-content-inner {
    margin-left: 72px;
    margin-right: 8px;
    height: 35px;
    padding: 0 5px;
    line-height: 35px;
    border: 1px solid #e7e7eb;
    background-color: #fff;
    word-wrap: break-word;
    word-break: break-all;
    position: relative;
}
.bubble_tips_arrow{
    position: absolute;
    top: 50%;
    margin-top: -6px;
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: dashed;
    border-color: transparent;
    border-le-color: #ca1d1d;
    border-left-color: #f2f2f2f2;
    border-right-style: solid;
    right: -13px;
}
.upload-sidebar {
    float: right;
    float: right;
    width: 60px;
}
