
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="public/static/plugins/bootstrap/bootstrap.css">
    <link href="https://cdn.bootcss.com/webuploader/0.1.1/webuploader.css" rel="stylesheet">
    <style type="text/css">
        {$index_css}
        {$pagination_css}
    </style>



</head>
<body>

<!--主体内容-->
<div class="page-content">
    <!--中间内容-->
    <div class="middle">
        <!-- 分组 -->
        <div class="category-list-region pull-left">
            <ul class="category-list dir-list selected " id="menuMain"></ul>
        </div>
        <!-- 图片列表 -->
        <div id="img_region_list" class="attachment-list-region">
            <div class="search-container">
                <div class="search-container-row">
                    <div class="pull-left">
                        <select name="sort_name" class="form-control   m-l-5  w200">
                            <option value="created_at-desc">按上传时间从晚到早</option>
                            <option value="created_at-asc">按上传时间从早到晚</option>
                            <option value="name-asc">按图片名升序</option>
                            <option value="name-desc">按图片名降序</option>
                        </select>
                    </div>
                    <form enctype="multipart/form-data" id="formData">
                        <div class="pull-right m-r-5">
                            <!--<input type="file"id="upload" class="inputfile" name="Filedata[]" multiple="multiple"/>-->

                            <div id="fileList" class="uploader-list"></div>


                            <div class="upload-wrap">
                                <div class="upload-tips-content">
                                    <div class="tips-content-inner"  ><span id="tips_content_inner"></span><i class="bubble_tips_arrow"></i> </div>
                                </div>
                                <div class="upload-sidebar">
                                    <!--上传容器-->
                                    <div id="upload"></div>
                                </div>
                            </div>

                            <div id="progress_bar_main" class="triangle-up">
                                <!--存放上传中百分比容器-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="tablelist" class="attachment-box">
                <ul class="image-list" id="imageFile"></ul>
                <!--分页-->
                <div class="text-r page-box cl">
                    <div id="pagination" class="m-style pagination cl"></div>
                </div>
            </div>
        </div>

    </div>

    <!--底部-->
    <div class="footer">
        <div class="selected-pic-container">
            <div class="selected-pic-title">
                已选择
                <span class="num">
					    <span class="image-selector-number" id="image-select-number">0</span>

                    </span>

            </div>
            <div class="mod-selected" >
                <ul class="ui-sortable ui-droppable" id="fileColumn">
                    <li class="drop-item mod-img seat ui-sortable-handle">
                        <a href="javascript:;"><i class="seat-icon">+</i></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class=" footer-btn">
            <div class="col-md-3 col-xs-4 "></div>
            <!--设置保存数据后回调模式-->
            <input type="hidden" id="submitCallback" value="addImgCallback" />
            <div class="col-md-9 col-xs-8 btn-row right">
                <button type="submit" id="submit" class="ivu-btn blue mt-ladda-btn ladda-button"><span class="ladda-spinner"></span>保存数据</button>
                <button type="button" id="global_close" class="ivu-btn  btn-default">关闭</button>
            </div>
        </div>
    </div>


    <!--底部按钮结束-->

    <!--主体内容区域-->
    <div class="clearfix"></div>
</div>
<!--底部区域-->
<!--页面js-->

<!--菜单栏html模板-->
<script type="text/html" id="menuTpl">
    <% for(var i= 0; i < list.length ; i++ ){%>
    <li class="category-item" data-id="<%= list[i].id %>"  title="<%= list[i].title %>" data-code="<%= list[i].code %>" name="<%= list[i].code %>">
        <%= list[i].title %>
        <span></span>
    </li>
    <% } %>
</script>

<!--图片列表html模板-->
<script type="text/html" id="imageFileTpl">

    <% if(list.length <= 0){ %>
    <li class="no-data"><span>暂无图片，请上传图片</span></li>
    <% } %>

    <% for(var i= 0; i < list.length ; i++ ){%>
    <!--点击添加selected样式，则为已选中状态-->
    <li title="<%= list[i].name %>" data-name="<%= list[i].name %>" class="image-item <%= list[i].select %>" data-id="<%= list[i].id %>" name="fileColumn" data-preview="<%= list[i].preview %>" data-width="<%= list[i].width %>" data-height="<%= list[i].height %>">
        <img class="image-box" src="<%= list[i].preview %>" onerror="loadingErrorImg(this,1)">
        <div  class="image-meta"><%= list[i].name %></div>
        <div class="image-title"><a href="" target="_blank">查看原图</a></div>
        <div class="attachment-selected">
            <i class="fa fa-check"></i>
        </div>
    </li>
    <% } %>
</script>

<!--已选择图片html模板-->
<script type="text/html" id="fileColumnTpl">
    <% for(var i= 0; i < list.length ; i++ ){%>
    <li title="<%= list[i].name %>"  class="drop-item mod-img" data-id="<%= list[i].id %>">
        <a href="javascript:;">
            <img class="image-box" src="<%= list[i].preview %>" onerror="loadingErrorImg(this,1)">
            <span class="pixel"><%= list[i].name %></span>
        </a>
        <i class="fa fa-times-circle" name="logo-del"></i>
    </li>
    <% } %>
</script>

<script type="text/html" id="selectedTpl">
    <div class="mod-selected" >
        <ul class="ui-sortable ui-droppable" id="fileColumn">
            <li class="drop-item mod-img seat ui-sortable-handle">
                <a href="javascript:;"><i class="seat-icon">+</i></a>
            </li>
        </ul>
    </div>
</script>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/plugins/bootstrap/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/webuploader/0.1.1/webuploader.min.js"></script>

<script type="text/javascript">

    /**
     * 默认获取加载出错的图片
     * @param string obj js对象
     * @param int sourceId 来源id
     * @return string imgPath 返回图片相对路径
     */
    function loadingErrorImg(obj, sourceId) {
        var imgPath = 'http://thyrsi.com/t6/369/1536635778x-1404750041.jpg';
        $(obj).attr({
            'src': imgPath,
            'onerror': null
        });
    }

    {$pagination|raw}
    {$template_native|raw}
    {$yjyUpload|raw}


    //调用文件上传
    var fileInput = new FileInput({
        urls:{
            'uploadImgUrl':'{$uploadImgUrl}', //上传文件服务器处理地址
            'getFileListUrl':'{$filesIndexUrl}', //获取文件列表
            'getCatalogUrl':'{$catalogIndexUrl}',  //获取目录列表
        },
        uid:0,                                         //用户id
        type : 1,                                      // 1 图片  2 文件
        sort:'',                                       //排序方式
        module:'default',                              //默认模块
        selectModules:'default',                       //选中模块
        multiSelect:false,                         //是否多选（ 默认单选）
        chooseNumberCompletion: function (count,data) {} //选中回调

    });



    // $(function () {
    //     alert(11);
    // })
</script>


</body>
</html>
