
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/webuploader/0.1.1/webuploader.css" rel="stylesheet">
    <style type="text/css">
        {$index_css}
    </style>


</head>
<body>

<!--主体内容-->
<div class="page-content">
    <!--中间内容-->
    <div class="middle">
        <!-- 分组 -->
        <div class="category-list-region pull-left">
            <ul class="category-list dir-list selected image_menu" id="imageMenu">
                <li class="category-item " data-id="1" title="默认相册" name="column">
                    默认相册
                    <span></span>
                </li>

                <li class="category-item selected" data-id="5" title="商品相册" name="column">
                    商品相册
                    <span></span>
                </li>

                <li class="category-item " data-id="4" title="商品详情相册" name="column">
                    商品详情相册
                    <span></span>
                </li>

                <li class="category-item " data-id="3" title="广告相册" name="column">
                    广告相册
                    <span></span>
                </li>
            </ul>
        </div>
        <!-- 图片列表 -->
        <div id="img_region_list" class="attachment-list-region">
            <div class="search-container">
                <div class="search-container-row">
                    <div class="pull-left">
                        <select name="sort_name" class="form-control  m-l-5  w200">
                            <option value="created_at-desc">按上传时间从晚到早</option>
                            <option value="created_at-asc">按上传时间从早到晚</option>
                            <option value="name-asc">按图片名升序</option>
                            <option value="name-desc">按图片名降序</option>
                        </select>
                    </div>
                    <form enctype="multipart/form-data" id="formData">
                        <div class="pull-right m-r-5">
                            <!--<input type="file"id="upload" class="inputfile" name="Filedata[]" multiple="multiple"/>-->

                            <div id="fileList" class="uploader-list"></div>
                            <div id="upload" class="">上传图片</div>

                            <div id="progress_bar_main" class="triangle-up">
                                <!--存放上传中百分比容器-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="tablelist" class="attachment-box">
                <ul class="image-list" id="imageFile">


                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="32" name="fileColumn" data-url="/uploads/20180903/849e6e37baf814254c2f20fb59198a0f.jpg" data-url_thumb="/thumbImg/849e6e37baf814254c2f20fb59198a0f.jpg" data-width="800" data-height="800">
                        <img class="image-box" src="/static/admin/pc/images/errorImg.jpg">
                        <div class="image-meta">800*800</div>
                        <div class="image-title">558cea0fN8280a9bd.jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>

                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="31" name="fileColumn" data-url="/uploads/20180830/169dca28df405b09e057ad1dd5d93526.jpg" data-url_thumb="/thumbImg/169dca28df405b09e057ad1dd5d93526.jpg" data-width="760" data-height="318">
                        <img class="image-box" src="/thumbImg/169dca28df405b09e057ad1dd5d93526.jpg" onerror="loadingErrorImg(this,1)">
                        <div class="image-meta">760*318</div>
                        <div class="image-title">玩具中文.jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>

                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="29" name="fileColumn" data-url="/uploads/20180830/b394fcd8b3423ef80a5f66ad91510c34.jpg" data-url_thumb="/thumbImg/b394fcd8b3423ef80a5f66ad91510c34.jpg" data-width="760" data-height="318">
                        <img class="image-box" src="/thumbImg/b394fcd8b3423ef80a5f66ad91510c34.jpg" onerror="loadingErrorImg(this,1)">
                        <div class="image-meta">760*318</div>
                        <div class="image-title">秋天英文.jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>

                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="30" name="fileColumn" data-url="/uploads/20180830/2cbb84ac74e240e8f98e92261f453e64.jpg" data-url_thumb="/thumbImg/2cbb84ac74e240e8f98e92261f453e64.jpg" data-width="760" data-height="318">
                        <img class="image-box" src="/thumbImg/2cbb84ac74e240e8f98e92261f453e64.jpg" onerror="loadingErrorImg(this,1)">
                        <div class="image-meta">760*318</div>
                        <div class="image-title">秋天中文.jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>

                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="27" name="fileColumn" data-url="/uploads/20180820/643aa3da28201b10e825d0baa7a26f1d.jpg" data-url_thumb="/thumbImg/643aa3da28201b10e825d0baa7a26f1d.jpg" data-width="240" data-height="240">
                        <img class="image-box" src="/thumbImg/643aa3da28201b10e825d0baa7a26f1d.jpg" onerror="loadingErrorImg(this,1)">
                        <div class="image-meta">240*240</div>
                        <div class="image-title">59673d65N91e1004c.jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>

                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="26" name="fileColumn" data-url="/uploads/20180817/6807bc81f3bc894d0e0951eae707b8df.jpg" data-url_thumb="/thumbImg/6807bc81f3bc894d0e0951eae707b8df.jpg" data-width="500" data-height="346">
                        <img class="image-box" src="/thumbImg/6807bc81f3bc894d0e0951eae707b8df.jpg" onerror="loadingErrorImg(this,1)">
                        <div class="image-meta">500*346</div>
                        <div class="image-title">u=107254282,2918084485&amp;fm=27&amp;gp=0.jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>

                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="25" name="fileColumn" data-url="/uploads/20180817/63fb31ba4d337654162fa015b8ff372f.jpg" data-url_thumb="/thumbImg/63fb31ba4d337654162fa015b8ff372f.jpg" data-width="460" data-height="460">
                        <img class="image-box" src="/thumbImg/63fb31ba4d337654162fa015b8ff372f.jpg" onerror="loadingErrorImg(this,1)">
                        <div class="image-meta">460*460</div>
                        <div class="image-title">TB2Qm9gJKGSBuNjSspbXXciipXa_!!0-juitemmedia.jpg_460x460Q90.jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>

                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="24" name="fileColumn" data-url="/uploads/20180815/c71f0a13b77dd970e02f66e26122c99d.jpg" data-url_thumb="/thumbImg/c71f0a13b77dd970e02f66e26122c99d.jpg" data-width="560" data-height="560">
                        <img class="image-box" src="/thumbImg/c71f0a13b77dd970e02f66e26122c99d.jpg" onerror="loadingErrorImg(this,1)">
                        <div class="image-meta">560*560</div>
                        <div class="image-title">pms_1527684983.06098824!560x560.jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>

                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="23" name="fileColumn" data-url="/uploads/20180815/d13ce879019d685a12c7b14ec2d9fe93.jpg" data-url_thumb="/thumbImg/d13ce879019d685a12c7b14ec2d9fe93.jpg" data-width="460" data-height="460">
                        <img class="image-box" src="/thumbImg/d13ce879019d685a12c7b14ec2d9fe93.jpg" onerror="loadingErrorImg(this,1)">
                        <div class="image-meta">460*460</div>
                        <div class="image-title">TB2Qm9gJKGSBuNjSspbXXciipXa_!!0-juitemmedia.jpg_460x460Q90.jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>

                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="22" name="fileColumn" data-url="/uploads/20180815/f016d056621365aefafb994531f29870.jpg" data-url_thumb="/thumbImg/f016d056621365aefafb994531f29870.jpg" data-width="800" data-height="800">
                        <img class="image-box" src="/thumbImg/f016d056621365aefafb994531f29870.jpg" onerror="loadingErrorImg(this,1)">
                        <div class="image-meta">800*800</div>
                        <div class="image-title">55ffda48N778ff331.jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>

                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="21" name="fileColumn" data-url="/uploads/20180815/47016ba0e9d9d4bbc9d6f0862927cb2f.jpg" data-url_thumb="/thumbImg/47016ba0e9d9d4bbc9d6f0862927cb2f.jpg" data-width="800" data-height="800">
                        <img class="image-box" src="/thumbImg/47016ba0e9d9d4bbc9d6f0862927cb2f.jpg" onerror="loadingErrorImg(this,1)">
                        <div class="image-meta">800*800</div>
                        <div class="image-title">iphoneX.jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>

                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="20" name="fileColumn" data-url="/uploads/20180815/0ff936e75322fbb032c87eedb48f4aec.jpg" data-url_thumb="/thumbImg/0ff936e75322fbb032c87eedb48f4aec.jpg" data-width="800" data-height="800">
                        <img class="image-box" src="/thumbImg/0ff936e75322fbb032c87eedb48f4aec.jpg" onerror="loadingErrorImg(this,1)">
                        <div class="image-meta">800*800</div>
                        <div class="image-title">iphoneX.jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>

                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="19" name="fileColumn" data-url="/uploads/20180815/745209f84c1bc1900ff243cd3e0b8134.jpg" data-url_thumb="/thumbImg/745209f84c1bc1900ff243cd3e0b8134.jpg" data-width="220" data-height="220">
                        <img class="image-box" src="/thumbImg/745209f84c1bc1900ff243cd3e0b8134.jpg" onerror="loadingErrorImg(this,1)">
                        <div class="image-meta">220*220</div>
                        <div class="image-title">411_thumb_P_1517624048056.jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>

                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="18" name="fileColumn" data-url="/uploads/20180815/83583366783667487bef3d94022448b6.jpg" data-url_thumb="/thumbImg/83583366783667487bef3d94022448b6.jpg" data-width="220" data-height="220">
                        <img class="image-box" src="/thumbImg/83583366783667487bef3d94022448b6.jpg" onerror="loadingErrorImg(this,1)">
                        <div class="image-meta">220*220</div>
                        <div class="image-title">411_thumb_P_1517623821570.jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>

                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="17" name="fileColumn" data-url="/uploads/20180815/32efcd120a61133f1404b02305c439c2.jpg" data-url_thumb="/thumbImg/32efcd120a61133f1404b02305c439c2.jpg" data-width="1100" data-height="1100">
                        <img class="image-box" src="/thumbImg/32efcd120a61133f1404b02305c439c2.jpg" onerror="loadingErrorImg(this,1)">
                        <div class="image-meta">1100*1100</div>
                        <div class="image-title">411_P_1517624048515.jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>

                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="16" name="fileColumn" data-url="/uploads/20180815/d2e07b44cc111bee5637141f5b48e7b4.jpg" data-url_thumb="/thumbImg/d2e07b44cc111bee5637141f5b48e7b4.jpg" data-width="450" data-height="450">
                        <img class="image-box" src="/thumbImg/d2e07b44cc111bee5637141f5b48e7b4.jpg" onerror="loadingErrorImg(this,1)">
                        <div class="image-meta">450*450</div>
                        <div class="image-title">411_G_1517624048636.jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>

                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="15" name="fileColumn" data-url="/uploads/20180815/b03f58846849df92fee4d7f10e0edcf3.jpg" data-url_thumb="/thumbImg/b03f58846849df92fee4d7f10e0edcf3.jpg" data-width="220" data-height="220">
                        <img class="image-box" src="/thumbImg/b03f58846849df92fee4d7f10e0edcf3.jpg" onerror="loadingErrorImg(this,1)">
                        <div class="image-meta">220*220</div>
                        <div class="image-title">410_thumb_P_1517623874055.jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>

                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="14" name="fileColumn" data-url="/uploads/20180815/ae8b4f9e7d31950af255c1a2cdcd3468.jpg" data-url_thumb="/thumbImg/ae8b4f9e7d31950af255c1a2cdcd3468.jpg" data-width="450" data-height="450">
                        <img class="image-box" src="/thumbImg/ae8b4f9e7d31950af255c1a2cdcd3468.jpg" onerror="loadingErrorImg(this,1)">
                        <div class="image-meta">450*450</div>
                        <div class="image-title">410_G_1517623874585.jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>

                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="13" name="fileColumn" data-url="/uploads/20180815/197643d0f70c935f097bac1bf3c40036.jpg" data-url_thumb="/thumbImg/197643d0f70c935f097bac1bf3c40036.jpg" data-width="450" data-height="450">
                        <img class="image-box" src="/thumbImg/197643d0f70c935f097bac1bf3c40036.jpg" onerror="loadingErrorImg(this,1)">
                        <div class="image-meta">450*450</div>
                        <div class="image-title">410_G_1517623874585 (1).jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>

                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="12" name="fileColumn" data-url="/uploads/20180815/32c955fd4ec7e0e82a0a56ee697938eb.jpg" data-url_thumb="/thumbImg/32c955fd4ec7e0e82a0a56ee697938eb.jpg" data-width="220" data-height="220">
                        <img class="image-box" src="/thumbImg/32c955fd4ec7e0e82a0a56ee697938eb.jpg" onerror="loadingErrorImg(this,1)">
                        <div class="image-meta">220*220</div>
                        <div class="image-title">409_thumb_P_1516499056619.jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>

                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="11" name="fileColumn" data-url="/uploads/20180815/c608615d0c1ae225a4c859a04d22ebeb.jpg" data-url_thumb="/thumbImg/c608615d0c1ae225a4c859a04d22ebeb.jpg" data-width="220" data-height="220">
                        <img class="image-box" src="/thumbImg/c608615d0c1ae225a4c859a04d22ebeb.jpg" onerror="loadingErrorImg(this,1)">
                        <div class="image-meta">220*220</div>
                        <div class="image-title">409_thumb_P_1516499055060.jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>

                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="10" name="fileColumn" data-url="/uploads/20180815/6e35d5d78a9d61be16b404bf6da01dcf.jpg" data-url_thumb="/thumbImg/6e35d5d78a9d61be16b404bf6da01dcf.jpg" data-width="220" data-height="220">
                        <img class="image-box" src="/thumbImg/6e35d5d78a9d61be16b404bf6da01dcf.jpg" onerror="loadingErrorImg(this,1)">
                        <div class="image-meta">220*220</div>
                        <div class="image-title">409_thumb_P_1516499012282.jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>

                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="9" name="fileColumn" data-url="/uploads/20180815/5320387ff4b46b051b83c3020b97ef00.jpg" data-url_thumb="/thumbImg/5320387ff4b46b051b83c3020b97ef00.jpg" data-width="220" data-height="220">
                        <img class="image-box" src="/thumbImg/5320387ff4b46b051b83c3020b97ef00.jpg" onerror="loadingErrorImg(this,1)">
                        <div class="image-meta">220*220</div>
                        <div class="image-title">409_thumb_P_1516499012144.jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>

                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="8" name="fileColumn" data-url="/uploads/20180815/471a1603bb547bba8d2bc40f1db1440b.jpg" data-url_thumb="/thumbImg/471a1603bb547bba8d2bc40f1db1440b.jpg" data-width="220" data-height="220">
                        <img class="image-box" src="/thumbImg/471a1603bb547bba8d2bc40f1db1440b.jpg" onerror="loadingErrorImg(this,1)">
                        <div class="image-meta">220*220</div>
                        <div class="image-title">409_thumb_P_1516498759201.jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>

                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="7" name="fileColumn" data-url="/uploads/20180815/4306eea82b5f167b3bede4f69ce102d2.jpg" data-url_thumb="/thumbImg/4306eea82b5f167b3bede4f69ce102d2.jpg" data-width="450" data-height="450">
                        <img class="image-box" src="/thumbImg/4306eea82b5f167b3bede4f69ce102d2.jpg" onerror="loadingErrorImg(this,1)">
                        <div class="image-meta">450*450</div>
                        <div class="image-title">409_G_1516499750331 (1).jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>

                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="6" name="fileColumn" data-url="/uploads/20180815/dd14f4aec3cb819fe00ede0409a7e190.jpg" data-url_thumb="/thumbImg/dd14f4aec3cb819fe00ede0409a7e190.jpg" data-width="220" data-height="220">
                        <img class="image-box" src="/thumbImg/dd14f4aec3cb819fe00ede0409a7e190.jpg" onerror="loadingErrorImg(this,1)">
                        <div class="image-meta">220*220</div>
                        <div class="image-title">f3b3496ab0328ef5a66839180ec1ff1e_408_thumb_P_1517010566034.jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>

                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="5" name="fileColumn" data-url="/uploads/20180815/62ca0ff17606d27d1462091f430c9317.jpg" data-url_thumb="/thumbImg/62ca0ff17606d27d1462091f430c9317.jpg" data-width="220" data-height="220">
                        <img class="image-box" src="/thumbImg/62ca0ff17606d27d1462091f430c9317.jpg" onerror="loadingErrorImg(this,1)">
                        <div class="image-meta">220*220</div>
                        <div class="image-title">c37f6cec71ab76cbd4c9e9e3f9f17153_408_thumb_P_1517010565411.jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>

                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="4" name="fileColumn" data-url="/uploads/20180815/09077bafef624aab4fceb08197a14f95.jpg" data-url_thumb="/thumbImg/09077bafef624aab4fceb08197a14f95.jpg" data-width="220" data-height="220">
                        <img class="image-box" src="/thumbImg/09077bafef624aab4fceb08197a14f95.jpg" onerror="loadingErrorImg(this,1)">
                        <div class="image-meta">220*220</div>
                        <div class="image-title">b135b459b412bbf1e39f01e0deef52b1_408_thumb_P_1517010566082.jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>

                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="3" name="fileColumn" data-url="/uploads/20180815/eef737c4ebd4a4ffd81dfe75992d21c3.jpg" data-url_thumb="/thumbImg/eef737c4ebd4a4ffd81dfe75992d21c3.jpg" data-width="220" data-height="220">
                        <img class="image-box" src="/thumbImg/eef737c4ebd4a4ffd81dfe75992d21c3.jpg" onerror="loadingErrorImg(this,1)">
                        <div class="image-meta">220*220</div>
                        <div class="image-title">74867a4d7dbc13b54b97ef8cd87c48db_408_thumb_P_1517010566249.jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>

                    <!--点击添加selected样式，则为已选中状态-->
                    <li class="image-item " data-id="2" name="fileColumn" data-url="/uploads/20180815/63b591ba2e0c7e3ab32d5994a9201a3b.jpg" data-url_thumb="/thumbImg/63b591ba2e0c7e3ab32d5994a9201a3b.jpg" data-width="220" data-height="220">
                        <img class="image-box" src="/thumbImg/63b591ba2e0c7e3ab32d5994a9201a3b.jpg" onerror="loadingErrorImg(this,1)">
                        <div class="image-meta">220*220</div>
                        <div class="image-title">1.jpg</div>
                        <div class="attachment-selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </li>
                </ul>
                <!--分页-->
                <div class="text-r page-box">
                    <div id="pagination" class="m-style pagination"></div>
                </div>
            </div>
        </div>

    </div>

    <!--底部-->
    <div class="footer">
        <div class="selected-pic-container">
            <div class="selected-pic-title">
                已选择
                <span class="num">
					    <span class="image-selector-number" id="image-select-number">0</span>

                    </span>

            </div>
            <div class="mod-selected" >
                <ul class="ui-sortable ui-droppable" id="fileColumn">
                    <li class="drop-item mod-img seat ui-sortable-handle">
                        <a href="javascript:;"><i class="seat-icon">+</i></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class=" footer-btn">
            <div class="col-md-3 col-xs-4 "></div>
            <!--设置保存数据后回调模式-->
            <input type="hidden" id="submitCallback" value="addImgCallback" />
            <div class="col-md-9 col-xs-8 right">
                <button type="submit" id="submit" class="btn blue mt-ladda-btn ladda-button"><span class="ladda-spinner"></span>保存数据</button>
                <button type="button" id="global_close" class="btn  btn-default">关闭</button>
            </div>
        </div>
    </div>


    <!--底部按钮结束-->

    <!--主体内容区域-->
    <div class="clearfix"></div>
</div>
<!--底部区域-->
<!--页面js-->




<!--菜单栏html模板-->
<script type="text/html" id="imageMenuTpl">
    <% for(var i= 0; i < list.length ; i++ ){%>
    <li class="category-item <%= list[i].selectStyle %>" data-id="<%= list[i].id %>"  title="<%= list[i].name %>" name="column">
        <%= list[i].name %>
        <span></span>
    </li>
    <% } %>
</script>

<!--图片列表html模板-->
<script type="text/html" id="imageFileTpl">

    <% if(list.length <= 0){ %>
    <li class="no-data"><span>暂无图片，请上传图片</span></li>
    <% } %>

    <% for(var i= 0; i < list.length ; i++ ){%>
    <!--点击添加selected样式，则为已选中状态-->
    <li class="image-item <%= list[i].select %>" data-id="<%= list[i].id %>" name="fileColumn" data-url="<%= list[i].url %>" data-url_thumb="<%= list[i].url_thumb %>" data-width="<%= list[i].width %>" data-height="<%= list[i].height %>">
        <img class="image-box" src="<%= list[i].url_thumb %>" onerror="loadingErrorImg(this,1)">
        <div class="image-meta"><%= list[i].width %>*<%= list[i].height %></div>
        <div class="image-title"><%= list[i].name %></div>
        <div class="attachment-selected">
            <i class="fa fa-check"></i>
        </div>
    </li>
    <% } %>
</script>

<!--已选择图片html模板-->
<script type="text/html" id="fileColumnTpl">
    <% for(var i= 0; i < list.length ; i++ ){%>
    <li class="drop-item mod-img" data-id="<%= list[i].id %>">
        <a href="javascript:;">
            <img class="image-box" src="<%= list[i].url_thumb %>" onerror="loadingErrorImg(this,1)">
            <span class="pixel"><%= list[i].width %>*<%= list[i].height %></span>
        </a>
        <i class="fa fa-times-circle" name="logo-del"></i>
    </li>
    <% } %>
</script>

<script type="text/html" id="selectedTpl">
    <div class="mod-selected" >
        <ul class="ui-sortable ui-droppable" id="fileColumn">
            <li class="drop-item mod-img seat ui-sortable-handle">
                <a href="javascript:;"><i class="seat-icon">+</i></a>
            </li>
        </ul>
    </div>
</script>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/webuploader/0.1.1/webuploader.min.js"></script>
<script src="https://cdn.bootcss.com/template_js/0.7.1/template.min.js"></script>

<script type="text/javascript">

    /**
     * 默认获取加载出错的图片
     * @param string obj js对象
     * @param int sourceId 来源id
     * @return string imgPath 返回图片相对路径
     */
    function loadingErrorImg(obj, sourceId) {
        var imgPath = 'http://thyrsi.com/t6/369/1536635778x-1404750041.jpg';
        if (typeof(sourceId) != 'undefined') {
            switch (parseInt(sourceId)) {
                case 1:
                    imgPath = imgPath;
                    break;
                case 2:
                    imgPath = '';
                    break;
            }
        }
        $(obj).attr({
            'src': imgPath,
            'onerror': null
        });
    }

    {$yjyUpload|raw}

    //调用文件上传
    var fileInput = new FileInput({
        urls:{
            'getFileListUrl':'{$filesIndexUrl}', //获取文件列表
            'getCatalogUrl':'{$catalogIndexUrl}',  //获取目录列表
            'upload':'',  //上传文件服务器处理
        },
        uid:0,                                           //用户id
        type : 1,                                     //栏目类型
        sort:10,                                       //排序方式
        module:'',                                   //默认模块
        selectModules:'',                             //选中模块
        multiSelect:false,                         //是否多选（ 默认单选）
        chooseNumberCompletion: function (count,data) {} //选中回调

    });

    // $(function () {
    //     alert(11);
    // })
</script>


</body>
</html>
